
.app
{
  height: 100%;
  margin: 0;

}

#root
{
  height: 100%;
  margin: 0;
}

body, html {
  height: 100%;
  margin: 0;
}


/***************/
/*    Navbar   */
/***************/

.logo{
  width: 75px;
  height: 50px;
  padding: 0;
  margin-left: 25px;
}

.bg-picture
{
  /* Full height */
  height: 100%;
  background-image: url("../src/images/juho-salila-stormtrooper-art.jpg");
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
}

